<section id="works"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1 class="mt mb">My Work</h1>

		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/MJN3Wck.png"), "https://github.com/divijm/CFA-Thug-Lyfe" %>
			<p>Thuglyf</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/1xEAoAJ.jpg"), "https://github.com/divijm/CFA-Lets-Get-Git-Team-Dopey" %>
			<p>Dopey</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/hfUu6Ap.jpg"), "https://github.com/divijm/CFA-Personal-Portfolio" %>
			<p>Personal Portfolio</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/RpF0CVf.jpg"), "https://github.com/divijm/CFA-ATM-terminal-app" %>
			<p>Terminal App - ATM Machine</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/kv7N8Rw.jpg"), "https://github.com/divijm/SydJS-0" %>
			<p>SydJS(0)</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 gallery">
			<%= link_to image_tag("http://i.imgur.com/nthP6kK.jpg"), "https://github.com/divijm/CFA-Project2-GoodArt" %>
			<p>Major Project on Rails - Good Art</p>
		</div>


		<a href="https://github.com/divijm"><button type="submit" class="btn btn-default mt">View More on Github!</button></a>

	</div>
</div>
